<!--TEMPLATES-->

    <template id="addBugTemplate">
      <div id="addBugContents">
        <input type="button" id="addNewBugButton" class="btn btn-block btn-info" value="+ Add Another Card"/>
        <div id="addBugFormTemplate" hidden>
          <textarea id="addBugFormTextarea" class="form-control" placeholder="Add a title here..." value=""></textarea><br>
          <button id="addBugFormButton" class="btn btn-success" type="button">
            <span class="fa fa-plus mr-1"></span>Add Bug
          </button>
          <href id="addBugFormClose" class="close" style="cursor: pointer;">
            <span class="fas fa-times-circle" aria-hidden="true"></span>
          </href>
        </div>
      </div>
    </template>
  
  