.container {
   border-width: 20rem;
   border:solid;
   border-color: aqua; 
   height:max-content;
   min-height:2rem;
}

.weedle {
   max-width: 7rem;
   max-height: 7rem;
   margin-left: 1rem;
   margin-bottom: 1rem;
}

#description, #name, .card-title {
   overflow-wrap: break-word; 
   overflow: hidden; 
   height:max-content;
}

#modal-title {
   overflow-wrap: break-word; 
   overflow: hidden; 
   height:max-content;
}

.account-form {
   display: block;
   max-width: 585px;
   margin: 0 auto;
   position: relative;
   background-color: #383838;
   border-radius: 3px;
   padding: 25px 40px;
   box-shadow: rgba(255, 255, 255, 0.1) 0 0 10px;
}

.account-title {
   text-align: center;
   color: azure;
   padding-bottom: 1rem;
}

#logo {
   max-width: 250px;
   margin-right: auto;
   margin-left: auto;
   display: block;
}