.container {
   border: solid;
   border-color: #383838;
   background-color: #383838;
   border-radius: 1%; 
   height:max-content;
   min-height:2rem;
}

.weedle {
   max-width: 7rem;
   max-height: 7rem;
   margin-left: 1rem;
   margin-bottom: 1rem;
}

.modal-header {
   display: block;
}

#titleText {
   max-width: 80%;
}

#description, #title, .card-title {
   /* background-color: transparent; */
   overflow-wrap: break-word; 
   overflow: hidden; 
   height:max-content;
   white-space: pre-wrap;
}

#descriptionText, #titleText {
   resize: none;
}

.list-group-item {
   background-color: rgb(66, 66, 66);
   border-radius: 1% !important;
}

.card-custom-colour {
   background-color: rgb(66, 66, 66);
}

.card {
   border: none;
   border-radius: 1% !important;
}

#bugCardTemplate {
   border-radius: 10%; 
}

.account-form {
   display: block;
   max-width: 27.2%;
   margin: 0 auto;
   position: relative;
   background-color: #383838;
   border-radius: 15px;
   padding: 25px 40px;
   box-shadow: rgba(255, 255, 255, 0.1) 0 0 2px;
}

.account-title {
   text-align: center;
   color: azure;
   padding-bottom: 1rem;
}

#logo {
   max-width: 250px;
   margin-right: auto;
   margin-left: auto;
   display: block;
}

#custom-alert {
   max-width: 585px;
   margin-right: auto;
   margin-left: auto;
   display: block;
   position: relative;
   margin-top: 15px;
}

#flashComponent {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: 1.5rem; 
}

.bg-light, .navbar, .bg-light {
   background-color: #383838 !important;
   color: azure; 
}

.navbar-brand {
   color: azure !important; 
}

.row {
   margin-left: auto;
   margin-right: auto;
}

#commentTextArea {
   resize: none;
   min-height: 10px;
}

.commentTextAreaWithSaveButton {
   padding-bottom: 48px;
}

#comment-controls {
   position: relative;
   bottom: 45px;
   margin-left: 2%;
}

#commentsDisplay {
   min-height: fit-content;
   width: 100%;
   resize: none;
   background: rgb(69, 68, 71);
   color: white;
   border: 0 grey;
   border-radius: 3px;
   padding: 5px;
   margin-right: 4%;

}

#commentsDisplay:focus {
   max-height: fit-content;
   width: 100%;
   resize: none;
   background: white;
   color: black;
   border-radius: 3px;
}

#comment-icons {
   position: relative;

}

#commentDisplayDiv {
   border-left: 5px solid transparent;
   border-radius: 4.5px;
   margin-top: 1rem;
   background: rgb(84, 83, 87);
}

#commentDisplayDiv:hover {
   background: rgb(84, 79, 84);
   border-left: 5px solid grey;
   border-radius: 4.5px;
}

.badge-pill {
   padding: 0.25em 0.4em;
   border-radius: 15%;
}

#comment-options {
   font-size: 10px;
   color: honeydew !important;
}



