.container {
   border: solid;
   border-color: #383838;
   background-color: #383838;
   border-radius: 1%; 
   height:max-content;
   min-height:2rem;
}

.weedle {
   max-width: 7rem;
   max-height: 7rem;
   margin-left: 1rem;
   margin-bottom: 1rem;
}

#description, #name, .card-title {
   overflow-wrap: break-word; 
   overflow: hidden; 
   height:max-content;
}

#modal-title {
   overflow-wrap: break-word; 
   overflow: hidden; 
   height:max-content;
}

.list-group-item {
   background-color: rgb(66, 66, 66);
   border-radius: 1% !important;
}

.card-custom-colour {
   background-color: rgb(66, 66, 66);
}

.card {
   border: none;
   border-radius: 1% !important;
}

#bugCardTemplate {
   border-radius: 10%; 
}

.account-form {
   display: block;
   max-width: 27.2%;
   margin: 0 auto;
   position: relative;
   background-color: #383838;
   border-radius: 15px;
   padding: 25px 40px;
   box-shadow: rgba(255, 255, 255, 0.1) 0 0 2px;
}

.account-title {
   text-align: center;
   color: azure;
   padding-bottom: 1rem;
}

#logo {
   max-width: 250px;
   margin-right: auto;
   margin-left: auto;
   display: block;
}

#custom-alert {
   max-width: 585px;
   margin-right: auto;
   margin-left: auto;
   display: block;
   position: relative;
   margin-top: 15px;
}

#flashComponent {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: 1.5rem; 
}

/* navbar  bg-light */

.bg-light, .navbar, .bg-light {
   background-color: #383838 !important;
   color: azure; 
}

.navbar-brand {
   color: azure !important; 
}

.row {
   margin-left: auto;
   margin-right: auto;
}

#commentTextArea {
   background: rgb(245, 148, 148) !important;
   box-sizing: content-box;
   box-shadow: none;
   height: 20px;
   margin: 0;
   min-height: 20px;
   padding: 0;
   width: 100%;
   resize: none;
}