<template id="addBugTemplate">
    <div id="addBugContents">
        <input onclick="addCardMini(this)" type="button" id="buttonTemplate" class="btn btn-block btn-info"
            value="+ Add Another Card" />
        <div id="addBugFormTemplate" hidden>
            <textarea id="addNewBugTextArea" onfocusout="addCardMini(this)"
                class="form-control">Add a title here...</textarea><br>
            <button class="btn btn-success" type="button" onclick="addCardMini(this)">
                <span class="fa fa-plus mr-1"></span>Add Bug
            </button>
            <href class="close" onclick="addCardMini(this)" style="cursor: pointer;">
                <span class="fas fa-times-circle" aria-hidden="true"></span>
            </href>
        </div>
    </div>
</template>