<%- include('templates/header'); -%>

<body>
    <%- include('templates/scriptsection'); -%>

    <h1>Add a BUG</h1>
    <a class="btn btn-warning">Ugly</a>
    <form method="POST" action="/bugs/addbug">
        <label for="name">Name </label><br>
        <input type="text" name="name"><br>

        <label for="author">Author </label><br>
        <input type="text" name="author"><br>
        
        <label for="status">Status </label><br>
        <select name="status">
            <option id="opt-default" value="">Choose Option...</option>
            <option class="text-danger" name="opt-found" value="Created">Created</option>
            <option class="text-warning" name="opt-in-progress" value="In-Progress">In-Progress</option>
            <option class="text-success" name="opt-fixed" value="Fixed">Fixed</option>
        </select><br>

        <label for="description">Description </label><br>
        <input type="text" name="description" name=""><br>
        
        <label for="tags">Tags </label><br>
        <input type="text" name="tags"><br>
        
        <label for="date">Date </label><br>
        <input type="text" name="date"><br>

        <input class="btn btn-success" type="submit" value="Submit Bug">
    </form>
</body>