<%- include('templates/header'); -%>
<body>
  <script>
    let loadBugs = async () => {
      let bugs = await fetch("/bugs/getBugsJson");
      let json = await bugs.json();

      let left = document.getElementById("left");
      let mid = document.getElementById("mid");
      let right = document.getElementById("right");

      let template = function(bug, tags) {
        let template = '<li class="list-group-item">' +
                '<div class="card">' +
                    '<div class="card-body">' +
                      tags +
                      '<br>' +
                      '<h5 class="card-title mt-2">'+bug.name+'</h5>' +
                      '<hr>' +
                      '<p class="card-text">'+bug.description+'</p>'+
                      '<a href="#" class="badge badge-info">Info</a>' +
                      '<span class="far fa-comments ml-4">  '+bug.comments.length+'</span>' +
                    '</div>' +
                  '</div>' +
                '</li>'
        return template;
      }

      let tags = function(bug) {
          let tags = "";
          let colours = ["primary", "secondary", "success", "danger", "warning", "info", "light"]
          bug.tags.forEach(tag => {
              tags += '<span class="mx-1 badge badge-pill badge-'+colours[Math.floor(Math.random() * colours.length)]+'">'+tag+'</span>'
          });
          return tags;
      }

      json.forEach(bug => {
          console.log(bug);
          if(bug.status === 'Created') {
            left.innerHTML += template(bug, tags(bug));
          }
          if(bug.status === 'In-Progress') {
            mid.innerHTML += template(bug, tags(bug));
          }
          if(bug.status === 'Fixed') {
            right.innerHTML += template(bug ,tags(bug));
          }
      });
    };

    let dragger = () => {
      dragula([
        document.querySelector("#left"),
        document.querySelector("#mid"),
        document.querySelector("#right"),
      ]);
      console.log("Loaded");
    };

    let initialize = () => {
      loadBugs();
      dragger();
    };
    window.onload = initialize;
  </script>

  <div>
    <h1><%=title%></h1>
    <h3><%=subtitle%></h3>
  </div>

  <div id="main">
    <div class="card-deck">
      <div class="card">
        <h5 class="card-title alert alert-danger">Found</h5>
        <ul class="list-group list-group-flush container" id="left">
        </ul>
      </div>
      <div class="card">
        <h5 class="card-title alert alert-warning">In-Progress</h5>
        <ul class="list-group list-group-flush container" id="mid">
        </ul>
      </div>
      <div class="card">
        <h5 class="card-title alert alert-success">Fixed</h5>
        <ul class="list-group list-group-flush container" id="right">
        </ul>
      </div>
    </div>
  </div>
</body>
