<%- include('templates/header'); -%>
<body>
  <%- include('templates/scriptsection'); -%>
  <script src="/js/frontEndRepository.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/updateModal.js"></script>


  <div>
    <img class="weedle" src="/weedle.gif">
  </div>

  <!--BUG CONTAINERS-->
  <div id="main">
    <div class="row">
      <h5 class="alert alert-danger col-4">Created</h5>
      <h5 class="alert alert-warning col-4">In-Progress</h5>
      <h5 class="alert alert-success col-4">Fixed</h5>
    </div>

    <div class="row" id="containerGroup">
      <div class="col-4">
        <div class="container" id="Created">
        </div>
        <div class="" id="addButtonContainerCreated">
        </div>
      </div>

      <div class="col-4">
        <div class="container" id="In-Progress">
        </div>
        <div class="" id="addButtonContainerIn-Progress">
        </div>
      </div>

      <div class="col-4">
        <div class="container" id="Fixed">
        </div>
        <div class="" id="addButtonContainerFixed">
        </div>
      </div>
    </div>
  </div>
</body>

<div id="modalContainer">
</div>