<%- include('templates/header'); -%>

<body>
  <script>
    let tags = function (bug) {
      let tags = "";
      bug.tags.forEach(tag => {
        tags += '<span class="mx-1 my-1 badge badge-' + tag.colour+ '">' + tag.name + '</span>'
      });
      return tags;
    }

    let bugColour = (bug) => {
      if (bug.status === 'Created') {
          return 'danger';
        }
        if (bug.status === 'In-Progress') {
          return 'warning';
        }
        if (bug.status === 'Fixed') {
          return 'success';
        }
    }

    let editClick = async (bugId) => {
      console.log("Clicked: " +bugId);
      let result = await fetch('/bugs/getBugByIdJson', {
        method: 'POST',
        headers: {'Content-Type':'application/json'},
        body: JSON.stringify({
          bugID: bugId
        })
      });

      let bug = await result.json();
      
      handleNewBugClick();
      document.getElementById('bugId').value = bug._id;
      document.getElementById('name').setAttribute('value', bug.name);
      document.getElementById('status').innerHTML = '<span class="fas fa-bug text-'+bugColour(bug)+' mr-2"></span>' + bug.status;
      document.getElementById('description').value = bug.description;
      document.getElementById('not-editable').innerHTML = bug.description;
      document.getElementById('modalTagList').innerHTML = tags(bug);
      document.getElementById('author').innerHTML = '<span class="badge badge-pill badge-light mr-2">'+bug.author.charAt(0)+'</span>' + bug.author;
      init();

      let date = new Date(bug.date).toLocaleDateString();
      document.getElementById('date').innerHTML = date;
    }

    let loadBugs = async () => {
      let bugs = await fetch("/bugs/getBugsJson");
      let json = await bugs.json();

      let created = document.getElementById("Created");
      let inProgress = document.getElementById("In-Progress");
      let fixed = document.getElementById("Fixed");

      created.innerHTML = null;
      inProgress.innerHTML = null;
      fixed.innerHTML = null;

      let template = function (bug, tags) {
        let template = '<li class="list-group-item" bugid="'+bug._id+'"' +
          '<div class="card">' +
          '<div class="card-body">' +
          '<div class="row">' +
          '<button onclick="editClick(\''+bug._id+'\')" class="badge badge-light col-1 offset-11"><span class="fa fa-edit"></span></button>' +
          tags +
          '</div>' +
          '<br>' +
          '<h5 class="card-title">' + bug.name + '</h5>' +
          '<hr>' +
          '<p class="card-text">' + bug.description + '</p>' +
          '<span class="far fa-comments ml-4">  ' + bug.comments.length + '</span>' +
          '</div>' +
          '</div>' + 
          '</li>'
        return template;
      }

      json.forEach(bug => {
        console.log(bug);
        if (bug.status === 'Created') {
          created.innerHTML += template(bug, tags(bug));
        }
        if (bug.status === 'In-Progress') {
          inProgress.innerHTML += template(bug, tags(bug));
        }
        if (bug.status === 'Fixed') {
          fixed.innerHTML += template(bug, tags(bug));
        }
      });
    };

    let bugStatusUpdater = async (bugID, status)=>{
      console.log(status);
      let result = await fetch('/bugs/updateStatus', {
        method: 'POST',
        headers: {'Content-Type':'application/json'},
        body: JSON.stringify({
          bugID: bugID,
          status: status
        })
      });
    }

    let dragger = () => {
      dragula([
        document.querySelector("#Created"),
        document.querySelector("#In-Progress"),
        document.querySelector("#Fixed"),
      ]).on('drop', function (el, target) {
          bugStatusUpdater(el.getAttribute('bugid'), target.getAttribute('id'));
      });
      console.log("Loaded");
    };

    let initialize = () => {
      loadBugs();
      dragger();
    };
    window.onload = initialize;
  </script>

  <script>
    function handleNewBugClick() {
      $('#addBugModal').modal('show');
    }
  </script>

  <div>
    <img class="weedle" src="/weedle.gif">
  </div>

  <!--BUG CONTAINERS-->
  <div id="main">
    <div class="row">
      <h5 class="alert alert-danger col-4">Created</h5>
      <h5 class="alert alert-warning col-4">In-Progress</h5>
      <h5 class="alert alert-success col-4">Fixed</h5>
    </div>
    <div class="row">
      <div class="container col-3" id="Created" >
      </div>
      <div class="container col-3" id="In-Progress">
      </div>
      <div class="container col-3" id="Fixed">
      </div>
    </div>
  </div>
</body>

<script>
  let tagColour = "";
  function setColour(colour) {
    tagColour = colour;
  }
  
  async function addTag() {
    let bugId = document.getElementById('bugId').value;
    let tagName = document.getElementById('tag-name').value;
    let tag = {
      name: tagName, 
      colour: tagColour
    };
    let result = await fetch('/bugs/addTag', {
        method: 'POST',
        headers: {'Content-Type':'application/json'},
        body: JSON.stringify({
          id: bugId,
          tag: tag  
        })
    });

    loadBugs();
    editClick(bugId);
  }
</script>

<script>
  async function updateDescription() {
    let desc = document.getElementById('description').value;
    let bugId = document.getElementById('bugId').value;
    let updateObject = {
      description: desc
    }
    console.log("Description Changed" + updateObject);
    let result = await fetch('/bugs/update', {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({
        id: bugId,
        updateObject: updateObject
      })
    })

  loadBugs();
  editClick(bugId);
  }
</script>

<script>
  let isEditable = false;
  async function showEditableDescription() {
    let editable = document.getElementById('editable');
    let notEditable = document.getElementById('not-editable');
    isEditable = !isEditable;
    if(isEditable) {
      document.getElementById('descriptionContainer').innerHTML = editable.innerHTML;
    }
    else {
      document.getElementById('descriptionContainer').innerHTML = notEditable.innerHTML;
    }
  }

  var init = () => {
    console.log("init");
    let notEditable = document.getElementById('not-editable');
    document.getElementById('descriptionContainer').innerHTML = notEditable.innerHTML;
  }
</script>

<!--MODAL-->
<div class="modal" tabindex="-1" role="dialog" id="addBugModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
            <input type="text" name="name" id="name" class="form-control" value="">
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <h5 class="" name="status" id="status"></h5>
        </div>
        <hr>
        <body>
          <%- include('templates/scriptsection'); -%> 
          <div class="row">
            <div id="modalTagList"></div>
            <div class="dropdown">
              <button class="badge badge-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-plus"></span>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <form>
                  <input type="text" id="bugId" hidden>
                  <div class="form-group">
                    <label for="tagName">Name</label><br>
                    <input type="text" id="tag-name" class="form-control"><br>
                    <label for="colour">Select a colour</label>
                    <div>
                      <div id="btn-toolbar" class="btn-toolbar" role="toolbar">
                        <div class="btn-group mr-2 mb-2" role="group">
                          <button type="button" class="btn btn-success" onclick="setColour(this.value)" value="success"></button>
                        </div>
                        <div class="btn-group mr-2 mb-2" role="group">
                          <button type="button" class="btn btn-info" onclick="setColour(this.value)" value="info"></button>
                        </div>
                        <div class="btn-group mr-2 mb-2" role="group">
                          <button type="button" class="btn btn-warning" onclick="setColour(this.value)" value="warning"></button>
                        </div>
                        <div class="btn-group mr-2 mb-2" role="group">
                          <button type="button" class="btn btn-secondary" onclick="setColour(this.value)" value="secondary"></button>
                        </div>
                        <div class="btn-group mr-2 mb-2" role="group">
                          <button type="button" class="btn btn-danger" onclick="setColour(this.value)" value="danger"></button>
                        </div>
                      </div>
                    </div>              
                    <hr>
                    <input onclick="addTag()" class="btn btn-success form-control" type="button" value="Create">
                  </div>
                </form>             
              </div>
            </div>
          </div>
          <br>      
              <div>
                <div class="row">
                  <label for="description"><span class="fas fa-list-ul mr-1"></span> Description </label><br>
                  <button class="badge badge-light offset-2" id="edit-desc" onclick="showEditableDescription()">edit</button>
                </div>
                <div id="descriptionContainer">
                </div>
                <div id="choices" hidden>
                  <div id="editable">
                    <textarea onblur="updateDescription()" name="description" id="description" class="form-control"></textarea><br>
                  </div>
                  <div id="not-editable">
                  </div>  
                </div>                        
              </div>
      </body>
      <div class="row">
        <div name="author" id="author" class="col-4">
        </div>
        <div name="date" id="date" class="col-2 offset-5">
        </div>
      </div>        
      </div>        
      <div class="modal-footer">
        <input class="btn btn-success" type="submit" value="Submit Bug">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
